body {
    background:#F5F5F5;
    font-family: 'Arial';
}
div {
    margin: 0px;
}
h1 {
    color: black;
    font-family:"Helvetica";
    font-size: 20px;
}

canvas {
	max-height: 400px;
}

#timeSliderArea {
	min-height: 40px;
}

#container {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#mapContainer {
	width: 70%;
	overflow: hidden;
	background: rgb(140,206,206);
	float: left;
}

#infoContainer {
	width: 30%;
	overflow: hidden;
	float: left;
}

#resetButton {
	float: left;
}