body {
    background:#F5F5F5;
    font-family: 'Arial';
}
div {
    margin: 0px;
}
h1 {
    color: black;
    font-family:"Helvetica";
    font-size: 20px;
}

canvas {
display: block;
  float: left;
}

.selected {
	stroke: "aquamarine";
}

#amountPieChart{
	max-width: 50%;
	max-height: 400px;
	float: left;
	overflow: auto;
}

#durationPieChart{
	max-width: 50%;
	max-height: 400px;
	float: left;
	overflow: auto;
}

#timeSliderArea {
	min-height: 40px;
}

#container {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#mapContainer {
	width: 50%;
	overflow: hidden;
	background: rgb(140,206,206);
	float: left;
}

#infoContainer {
	width: 50%;
	overflow: hidden;
	float: left;
}

#resetButton {
	float: left;
}